@{
    ViewData["Title"] = "Setting Cookie";
}

<h2>Setting Cookie</h2>

<form method="post">
    <div>
        <label for="value">Value:</label>
        <input type="text" id="value" name="value" />
    </div>
    <div>
        <label for="expiryDate">Date and time of creating:</label>
        <input type="datetime-local" id="expiryDate" name="expiryDate" />
    </div>
    <button type="submit">Set Cookie</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div style="color: red;">@ViewBag.Error</div>
}
